/* card.component.css */
.card {

  padding: 16px;
  text-align: center;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 15px;
}

.card-image {
  width: 194px;
  height: 155px;
}

.card:hover{
  border: 1px solid #ED1B00;
  border-radius: 1px;
  transition: border-radius 3.5s;
}

.card-price {
  font-size: 40px;
  color: #521D16;
  font-weight: bold;
  margin-top: 10%;
}

h3 {
  font-size: 30px;
  color: #521D16;
  font-weight: bold;
}
p {
  font-size: 20px;
  color: #000000;
}

