<app-header></app-header>  <!-- Cabeçalho da página -->

<h2 class="title">PEDIDO</h2>  <!-- Título da página -->

<div class="order-form-container">  <!-- Container do formulário do pedido -->
  <form>  <!-- Formulário para preencher o pedido -->
    
    <!-- Linha do formulário para o primeiro produto e sua quantidade -->
    <div class="form-row">
      <!-- Componente de input para o nome do primeiro produto -->
      <app-input label="Produto" id="produto1" [required]="true" [(ngModel)]="produto1" name="produto1"></app-input>

      <!-- Componente de input para a quantidade do primeiro produto -->
      <app-input label="Quantidade" type="number" id="quantidade1" [required]="true" [(ngModel)]="quantidade1" name="quantidade1"></app-input>
    </div>

    <!-- Linha do formulário para o segundo produto e sua quantidade -->
    <div class="form-row">
      <!-- Componente de input para o nome do segundo produto -->
      <app-input label="Produto" id="produto2" [required]="true" [(ngModel)]="produto2" name="produto2"></app-input>

      <!-- Componente de input para a quantidade do segundo produto -->
      <app-input label="Quantidade" type="number" id="quantidade2" [required]="true" [(ngModel)]="quantidade2" name="quantidade2"></app-input>
    </div>

    <!-- Grupo de formulário para as observações -->
    <div class="form-group full-width">
      <!-- Componente de input para observações sobre o pedido -->
      <app-input label="Observação" id="observacao" [required]="true" [(ngModel)]="observacao" name="observacao"></app-input>
    </div>

    <!-- Container para o botão de finalizar o pedido -->
    <div class="button-container">
      <!-- Botão para finalizar o pedido -->
      <app-button label="FINALIZAR" type="filled"></app-button>
    </div>
  </form>
</div>
