/* detalhes.component.css */
.title {
  color: #ED1B00;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 4%;
}

.details-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}

h2{
  margin-right: 8%;
}


